@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    background-color: #D9D9D9;
    display: flex;
    width: 100%;
    height: 100vh;
    align-items: center;
    justify-content: center;
}


.continer-left{
    padding: 40px;
    background: #929292;
    border-radius: 10px;
    margin-right: 40px;
}

.continer-left, .continer-rigth{
    width: 100%;
    margin-left: 30px;
    margin-right: 30px;
    text-align: center;
    height: 290px;
}

h1{
    margin-top: 40px;
}

.continer-rigth{
    padding: 40px;
    background: #929292;
    border-radius: 10px;
}

input, button{
    padding: 10px;
    outline: none;
    border-radius: 8px;
    border: none;
    transition: 0.5s ease;
}

button:hover{
    cursor: pointer;
    background-color: #D9D9D9;
}

@media screen and (max-width: 460px){
    .continer-left, .continer-rigth{
        width: 100%;
        margin: 10px;
        min-width: 347px;
        margin-top: -0px;
        height: 290px;
    }

    body{
        display: flex;
        flex-wrap: wrap;
    }
}